
div.background {
  background-color: aquamarine;
}

div.container {
background-color: aquamarine;
}
body {
  background-color: aquamarine;
  background: aquamarine;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 80px; 
  line-height: 80px;
  padding-bottom: 60px;
}
h2 {
  color: lime; 
  text-align: center;
  font-size: 50px; 
  line-height: 50px;
}


.sidebar {
  float: right;
  justify-content:center;
  width: 30%;
  margin: 10px;
  padding: 50px;
  background-color: pink;
  border-width: 5px;
  border-color: black;
  border-style: double;

}

div.content {
  float: right;
  width: 50%;
}

img {
  display: block; 
  float: left;
  width: 40%;
  margin: auto;
}

.picture-box {
  float: left;
  width: 30%;
  margin: 5px;
  border-style: solid;
  border-color: chocolate;
  border-width: 3px;
}
